@import url(../font/stylesheet.css);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 40px;
  --cell-color: rgba(255, 255, 255, 0.2);
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: "Melodrama", sans-serif; */
}

html {
  font-size: 10px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 100vw;
  padding-top: 28px;
  padding-bottom: 29px;
  background-color: #f6f4f0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navbar {
  width: 100%;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__block {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navbar__link {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #282828;
  display: inline-block;
}

.navbar__link-basket {
  position: relative;
}

.navbar__link-amount {
  display: inline-block;
  color: #ffffff;
  margin-left: 4px;
  padding: 4px 6px;
  border-radius: 10px;
  background-color: #282828;
}

.logo {
  display: block;
  width: 128px;
  height: 64px;
  flex-shrink: 0;
  position: absolute;
  top: 25px;
  z-index: 3;
}

.logo__item {
  width: inherit;
  height: inherit;
}

/* стилі що б приховати h1 зі сторінки - але пошукова  машина зчитає */
h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.hero {
  max-width: 100vw;
  width: 100%;
  height: calc(100vh - 72px);
  overflow: hidden;
  display: flex;
  background-color: #efebe7;
}

.hero-container {
  display: flex;
  position: relative;
}

.hero__content {
  flex: 0 0 55%;
  padding-top: 14rem;
}

.hero__text-box {
  min-height: 162px;
}

.hero__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0.96px;
  max-width: 38.5rem;
  margin-bottom: 1.6rem;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.hero__text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.28px;
  max-width: 35.2rem;
  margin-bottom: 4.8rem;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.hero__button {
  height: 44px;
  display: inline-flex;
  align-items: center;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  border: 1px solid #3f3f3f00;
  color: #f6f4f0;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.hero__option-block {
  padding-top: 5.1rem;
  display: flex;
  gap: 1.5rem;
}

.hero__option-column {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.hero__option-title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.hero__option-text {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}

.hero__image-box {
  flex: 0 0 45%;
  /* position: relative; */
}

.hero__color {
  width: 45vw;
  height: 100%;
  transition: background-color 0.6s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(10vw);
}

.hero__imgs {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  top: 0%;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.hero__imgs--start {
  opacity: 0;
  transform: translateY(-50%);
}
.hero__imgs--end {
  opacity: 1;
  transform: translateY(0);
}

.hero__img {
  position: absolute;
  right: 13%;
  top: 8%;
  max-width: 85%;
  max-height: 85%;
  display: none;
}

.hero__img--active {
  display: block;
}

/* сітка прозора на фон */
.grid {
  position: absolute;
  display: block;
  width: 400%;
  height: 100%;
  height: 0;
  padding-bottom: 400%;
  transform: rotate(45deg);
}

.grid__horizontal {
  position: absolute;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-size: 100% var(--cell-size);
  background-image: linear-gradient(var(--cell-color) 1px, transparent 1px);
}

.grid__vertical {
  position: absolute;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-size: var(--cell-size) 100%;
  background-image: linear-gradient(
    90deg,
    var(--cell-color) 1px,
    transparent 1px
  );
}

.hero__pagination {
  position: absolute;
  top: 16%;
  right: 1.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__pagtination-item {
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  background: transparent;
  transform: rotate(45deg);
  transition-property: background-color, transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.hero__pagtination-item.active {
  background-color: #fff;
}

.hero__slider-arrows {
  display: inline-flex;
  gap: 0.8rem;
  position: absolute;
  right: 1%;
  bottom: 6%;
}

.hero__slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #28282800;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.nachhaltiger-section {
  padding-top: 16rem;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: #f6f4f0;
  position: relative;
}

.nachhaltiger-section__inner {
  display: flex;
  gap: 9.1rem;
  position: relative;
  z-index: 1;
}

.nachhaltiger-section__block {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nachhaltiger-section__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0.96px;
  max-width: 45rem;
  margin-bottom: 1.6rem;
}

.nachhaltiger-section__text {
  color: #282828;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.28px;
  max-width: 35.2rem;
  margin-bottom: 4.8rem;
}

.nachhaltiger-section__button {
  width: 9.3rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.ÜBER-button-img {
  width: inherit;
}

.nachhaltiger-section__img {
  position: absolute;
}

.nachhaltiger-section__img:nth-of-type(1) {
  top: -45%;
  right: 5%;
}

.nachhaltiger-section__img:nth-of-type(2) {
  left: 0;
  top: 10%;
}

.nachhaltiger-section__img:nth-of-type(3) {
  bottom: -46.5%;
  right: -12.5%;
}

.nachhaltiger-section__bg-img {
  max-height: 176px;
  max-width: 60%;
  position: absolute;
  top: 9%;
  left: 6%;
}

.philosophie-section {
  padding-top: 24rem;
  max-width: 100vw;
  width: 100%;
  height: 200vh;
  background-color: #edeae4;
  position: relative;
}

.philosophie-section__inner {
  position: relative;
  z-index: 1;
}

.philosophie-section__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0.96px;
  max-width: 45rem;
  margin-bottom: 1.6rem;
}

.philosophie-section__text {
  color: #282828;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.28px;
  max-width: 35.2rem;
  margin-bottom: 4.8rem;
}

.philosophie-section__button {
  width: 103px;
  border: transparent;
  background-color: transparent;
  margin-bottom: 5.9rem;
  cursor: pointer;
}

.philosophie-section__button-img {
  width: inherit;
}

.philosophie-section__philosophie-block {
  width: 70%;
  margin: 0 auto;
}

.philosophie-block__row {
  display: flex;
  gap: 5.2rem;
  margin-bottom: 10rem;
}

.philosophie-block__cell {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.philosophie-block__icon {
  max-width: 98px;
  max-height: 98px;
}

.philosophie-block__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 31.2px;
  letter-spacing: 0.52px;
}

.philosophie-block__text {
  color: #282828;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.26px;
  max-width: 35.2rem;
}

.philosophie-section__bg-img {
  max-height: 142px;
  max-width: 80%;
  position: absolute;
  top: 13.5%;
  left: 6%;
}

.statistic-section {
  padding-top: 14rem;
  max-width: 100vw;
  width: 100%;
  height: 140vh;
  background: url(../img/BG-statistic.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.statistic-section__text {
  color: #f6f4f0;
  text-align: center;
  font-family: "Melodrama", sans-serif;
  font-size: 8rem;
  font-weight: 600;
  line-height: 128px;
  letter-spacing: 1.6px;
  max-width: 88rem;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.statistic-section__img {
  position: absolute;
  z-index: 1;
}

.statistic-section__img:nth-of-type(1) {
  top: 11%;
  right: 0;
}

.statistic-section__img:nth-of-type(2) {
  left: 5.8%;
  bottom: 16.5%;
}

.statistic-section__img:nth-of-type(3) {
  top: 16%;
  left: 10%;
}
.statistic-section__img:nth-of-type(4) {
  bottom: 10%;
  right: 6.4%;
}

.slider-section {
  padding-top: 24rem;
  max-width: 100vw;
  width: 100%;
  height: 180vh;
  background-color: #f6f4f0;
  position: relative;
  overflow: hidden;
}

.slider-section__top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 1;
}

.slider-section__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0.96px;
  max-width: 46rem;
  margin-bottom: 12rem;
}

.slider-section__button {
  width: 9.3rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.slider-section__bg-img {
  max-height: 142px;
  max-width: 40%;
  position: absolute;
  top: 15%;
  left: 6%;
}

.swiper {
  margin-left: 9rem;
}

.swiper-slide {
  width: 31.2rem;
  min-height: 52.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}

.swiper-slide__img {
  width: 31.2rem;
  height: 31.2rem;
  margin-bottom: 1.6rem;
}

.swiper-slide__signs {
  display: flex;
  gap: 1.2rem;
}

.swiper-slide__sign {
  height: 20px;
  margin-left: -5px;
  margin-bottom: 3.2rem;
}

.swiper-slide__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 31.2px;
  letter-spacing: 0.52px;
  max-width: 31.2rem;
  margin-bottom: 0.8rem;
}

.swiper-slide__text {
  color: #282828;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.28px;
  max-width: 31.2rem;
  margin-bottom: 4.8rem;
}

.swiper-buttons {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  right: 1%;
  bottom: 6%;
}

.swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #28282800;
  background-color: #ece8e3;
  cursor: pointer;
}

.swiper-expand {
  width: 16px;
  height: 16px;
}

.footer {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  padding-top: 9.6rem;
  background-color: #efebe7;
}

.footer__line {
  display: block;
  width: 100%;
  position: relative;
  top: -10.8rem;
}

.footer__row {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 4.8rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column:not(:first-of-type) {
  flex: 0 0 8.4%;
}

.footer__column:first-of-type {
  margin-right: 10rem;
}

.footer__logo {
  width: 35px;
  height: 55px;
  margin-bottom: 2.4rem;
}

.footer__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 35.1px;
  letter-spacing: 0.52px;
  margin-bottom: 1.6rem;
}

.footer__text {
  color: #282828;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.28px;
  margin-bottom: 2.4rem;
}

.footer__text--bigger {
  font-size: 1.3rem;
}

.footer__link {
  color: #282828;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 0.28px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__link:not(:last-child) {
  margin-bottom: 0.6rem;
}

.footer__link--lowercase {
  text-transform: lowercase;
}

.footer__form {
  margin-bottom: 0.4rem;
}

.feedback-form__input {
  width: 230px;
  height: 36px;
  border: none;
  outline: none;
  border-bottom: 1px solid #282828;
  background: transparent;
  font-size: 1.6rem;
}

.feedback-form__button {
  height: 36px;
  border: 1px solid #282828;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  background: transparent;
  color: #282828;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 12.1px;
  letter-spacing: 0.28px;
  margin-left: 1.6rem;
}

.footer__form-signature {
  color: #bab6b3;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 9.7px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.footer__pay-img {
  width: 8rem;
  height: 5rem;
}

.footer__signatures {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

.footer__signature {
  color: #bab6b3;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 9.7px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.footer__signature-image {
  width: 1.2rem;
  height: 1rem;
  margin-left: 4px;
  margin-right: 4px;
}

/* ------------------------------------------------------------------ */

/* .hero__inner--first {
  background: url(../img/BG.png);
}

.hero__inner--second {
  background: url(../img/BG-1.png);
}

.hero__inner--third {
  background: url(../img/BG-2.png);
}

.hero__inner--forth {
  background: url(../img/BG-3.png);
}

.hero__inner {
  padding-top: 16.1rem;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}

.hero__title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0.96px;
  max-width: 38.5rem;
  margin-bottom: 1.6rem;
}

.hero__text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.28px;
  max-width: 35.2rem;
  margin-bottom: 4.8rem;
}

.hero__button {
  height: 44px;
  display: inline-flex;
  align-items: center;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  border: 1px solid #3f3f3f00;
  color: #f6f4f0;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.22px;
  text-transform: uppercase;
  cursor: pointer;
}

.hero__button--brown {
  background-color: #3f3f3f;
}

.hero__button--beige {
  background-color: #ddc1a0;
}

.hero__button--pink {
  background-color: #e0ab90;
}

.hero__button--dark-pink {
  background-color: #ae5e5e;
}

.hero__img {
  position: absolute;
  right: 18%;
  top: 7%;
  max-width: 60%;
  max-height: 85%;
  object-fit: contain;
}

.hero__slider-pagination {
  position: absolute;
  top: 8%;
  right: 13.5%;
  z-index: 20;
  cursor: pointer;
}

.hero__slider-arrows {
  display: inline-flex;
  gap: 0.8rem;
  position: absolute;
  right: 12%;
  bottom: 10%;
}

.hero__slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
}

.hero__slider-arrow--brown {
  background-color: #504f4e;
  border: 1px solid #504f4e00;
}

.hero__slider-arrow--beige {
  background-color: #c1aa90;
  border: 1px solid #c1aa9000;
}

.hero__slider-arrow--pink {
  background-color: #bb917b;
  border: 1px solid #bb917b00;
}

.hero__slider-arrow--dark-pink {
  background-color: #935353;
  border: 1px solid #93535300;
}

.hero__product-info-block {
  padding-top: 12.1rem;
  display: flex;
  gap: 1.5rem;
}

.hero__product-info-column {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.hero__product-info-title {
  color: #282828;
  font-family: "Melodrama", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.hero__product-info-text {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}

.hero__product-info-text--beige {
  color: #ddc1a0;
}

.hero__product-info-text--pink {
  color: #e0ab90;
}

.hero__product-info-text--dark-pink {
  color: #ae5e5e;
}

.hero__product-info-icon {
  padding-left: 4px;
  padding-right: 4px;
} */
